<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <div class="about-me">
            <img class='portrait' src="img/icon.jpg">
            <p>Essa aplicação foi criada por Felipe Domingues, um estudante de desenvolvimento de Software com 1 ano de experiência profissional em desenvolvimento .NET focado em aprender Node.JS.<br>Você pode checar mais sobre minhas informações profissionais no meu <a href="https://www.linkedin.com/in/felipe-domingues-313195171/">Linkedin</a> ou ver outros projetos meus no meu <a href="https://github.com/felipedominguesb">Github</a>.</p>
        </div>
    </div>
    
    {{>footer}}
</body>
</html>