<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>

        <p class="question-text">1. Qual linguagem foi utilizada no desenvolvimento da aplicação?</p>
        <p class="answer">A pricipal linguagem foi Javascript, utilizando Node.JS com Express pra fazer o servidor e as principais requisições da aplicação.</p>

        <p class="question-text">2. Como a aplicação descobre a temperatura do local especificado?</p>
        <p class="answer">A aplicação lê o local enviado pelo usuário e envia para a API do Map Box, que retorna as coordenadas geográficas do local. Então, o sistema envia as cordenadas para a API da Weather Stack, que retorna as informações de temperatura do local especificado.</p>

        <p class="question-text">3. Você fez isso sozinho?</p>
        <p class="answer">Não. A versão mais elaborada da resposta é que eu fiz com a ajuda do curso de <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/">NodeJs</a> do Andrew Mead. Entretanto, tentei fazer boa parte das implementações da maneira que soube melhor, ao invés de seguir passo-a-passo os tutoriais. Por exemplo, vou deixar no repositório uma versão das chamada de API que utilizam Promises ao invés de instruções comuns nas requisições, um tópico que ele não aborda por ainda ser muito cedo no curso apesar da extrema utilidade pra tratamento de erros.</p>

        
    </div>
    
    {{>footer}}
</body>
</html>