<footer>
    <a href='/about'>Criado por Felipe</a>
    <a href='https://github.com/felipedominguesb'>Github</a>
    <a href='https://www.linkedin.com/in/felipe-domingues-313195171/'>LinkedIn</a>
</footer>